.aaa{
    background-color: #AACCBB;
    padding-bottom:30px;
    padding-top: 30px;
    text-align: center;
}
.bbb{
    background-color: #00aacc;
}
.ccc{
background-color: #bbccdd;
height:81.5px;
width:25%;
}
.qq{
    background-color:#ddd
}
