.aaa{
    background-color: #AACCBB;
    padding-bottom:20px;
    padding-top: 20px;
    text-align: center;
}
.bbb{
    padding: 20px;
}
.ccc{
background-color: #bbccdd;
height:81.5px;
width:25%;
}
.qq{
    background-color:#ddd;
}
.yy
{
    padding: 10px;
}